<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.NoticeMapper">
  <select id="selectOneNotice" resultType="test.Notice">
    select * from notice_read where id = 6
  </select>
</mapper>
